.section{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 900px;
}

.inputWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;

    &Textarea{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 20px 1fr;
    gap: 5px;
    width: 100%;
    }
}

.doneWrapper{
    .input{
        color: green;

        &:last-child{
            color: red;
        }
    }
}

.button{
    width: 300px;
}