.section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 500px;

    h2{
        text-align: center;
    }
}

.inputWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}