.section{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 500px;
}

.inputWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}